#define PLATFORMIO 60116
#define ARDUINO_D1_MINI32
#define hal_init LMICHAL_init
#define ARDUINO_LMIC_PROJECT_CONFIG_H_SUPPRESS
#define CFG_sx1276_radio 1
#define CFG_eu868 1
#define HAVE_CONFIG_H
#define MBEDTLS_CONFIG_FILE "mbedtls/esp_config.h"
#define UNITY_INCLUDE_CONFIG_H
#define WITH_POSIX
#define _GNU_SOURCE
#define IDF_VER "v4.4.5"
#define ESP_PLATFORM
#define _POSIX_READER_WRITER_LOCKS
#define ARDUINO_ARCH_ESP32
#define ESP32
#define F_CPU 240000000L
#define ARDUINO 10812
#define ARDUINO_VARIANT "d1_mini32"
#define ARDUINO_BOARD "WEMOS D1 MINI ESP32"
#define ARDUINO_PARTITION_default
